{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
    .popup-content{
        width: 500px;
    }
</style>
    <div class="container mt-4">
        
        <!-- Sample Data Table -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded">


          <div class="d-flex justify-content-between mb-2">
            <h3>Sample Data</h3>
            {% if user.is_authenticated and user.is_superuser %}
            <!-- <button class="d-flex justify-content-end btn btn-secondary" id="loadButton" onclick="Load_Data()">Load Sample Data</button> -->
            <!-- <a class="d-flex justify-content-end btn btn-secondary"  href="/load_shape_data/">Load Shape Data</a> -->

            {% endif %}
        </div>

        <div  class="row border p-2 mb-2">
            {% for table_name in table_list %}
                <form action="{% url 'load_sample_data' table_name %}" method="get" class="col-lg-3 col-md-5 col-sm-6 p-2">
                    <input class="btn btn-outline-secondary" type="submit" value="{{table_name}}">
                </form>
            {% endfor %}
        </div>

        {% if request.session.Sample_table_name %}
            <div class="alert alert-secondary" role="alert">
                Table Loaded : {{ request.session.Sample_table_name }}
            </div>
        {% endif %}
            <div class="table-responsive">
                <!-- {% if request.session.sample_query_error %}
                    <div class="alert alert-warning" role="alert">
                        {{ request.session.sample_query_error }}
                    </div>
                {% endif %} -->
              
                <table class="table table-bordered table-striped">
                    <thead id="sample_table_header">
                    </thead>
                    <tbody id="sample_table_body">
                        <!-- Sample data will be populated here using JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Query Form -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            
            <form action="{% url 'query' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="query">Enter Your Query For Tables 
                        <!-- <select class="custom-select w-50" id="db_select_listing">
                            {% for table_name in table_list %}
                                <option value="{{ table_name }}">
                                    {{ table_name }}
                                </option>
                            {% endfor %}
                        </select> -->
                    </label>
                    <!-- <div class="alert alert-warning" role="alert">Sample Query : <div style="color: #3498db;">select c1.country, c1.capital, c1.area , c2.latitude, c2.longitude from app_countries_info as c1,app_country_coorinates as c2  where c1.id = c2.country_id;</div></div> -->
                    <input type="text" class="form-control" id="query" name="query" style="padding-bottom: 60px;" value="{{ request.session.query }}" required>
                </div>
                <button class="btn btn-primary" type="submit">Run Query</button>
            </form>
        </div>

        <!-- Query Result Table -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h3>Query Result</h3>
            {% if request.session.query_alert %}
                <div class="alert alert-warning" role="alert">
                    {{ request.session.query_alert }}
                </div>
            {% endif %}
            {% if request.session.query_error %}
            <div class="alert alert-danger" role="alert">
              {{ request.session.query_error }}
            </div>
            {% endif %}

            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar" >
                <table class="table table-bordered table-striped mb-0">
                    <thead id="Query_result_header">
                        <!-- Query result table header will be populated here using JavaScript -->
                    </thead>
                    <tbody id="Query_result_body" >
                        <!-- Query result table body will be populated here using JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}