{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Sample Data Table -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="d-flex justify-content-between mb-2">
            <h3>Sample Data</h3>
            {% if user.is_authenticated and user.is_superuser %}
            <button class="d-flex justify-content-end btn btn-secondary" id="loadButton" onclick="Load_Data()">Load Data</button>
            {% endif %}
          </div>
            <div class="table-responsive">
              {% if request.session.sample_query_error %}
              <div class="alert alert-warning" role="alert">
                  {{ request.session.sample_query_error }}
              </div>
              {% endif %}
                <table class="table table-bordered table-striped">
                    <thead id="sample_table_header">
                        <!-- <tr>
                            <th scope="col">id</th>
                            <th scope="col">longitude</th>
                            <th scope="col">latitude</th>
                            <th scope="col">housing_median</th>
                            <th scope="col">total_rooms</th>
                            <th scope="col">total_bedrooms</th>
                            <th scope="col">population</th>
                            <th scope="col">households</th>
                            <th scope="col">median_income</th>
                            <th scope="col">ocean_proximity</th>
                            <th scope="col">median_house_value</th>
                        </tr> -->
                    </thead>
                    <tbody id="sample_table_body">
                        <!-- Sample data will be populated here using JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Query Form -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <form action="{% url 'query' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="query">Enter Your Query For Table <b>app_housepricing</b> or <b>app_countries_info</b> or <b>app_country_coorinates</b></label>
                    <!-- <div class="alert alert-warning" role="alert">Sample Query : <div style="color: #3498db;">select c1.country, c1.capital, c1.area , c2.latitude, c2.longitude from app_countries_info as c1,app_country_coorinates as c2  where c1.id = c2.country_id;</div></div> -->
                    <input type="text" class="form-control" id="query" name="query" style="padding-bottom: 60px;" value="{{ request.session.query }}" required>
                </div>
                <button class="btn btn-primary" type="submit">Run Query</button>
            </form>
        </div>

        <!-- Query Result Table -->
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h3>Query Result</h3>
            {% if request.session.query_alert %}
                <div class="alert alert-warning" role="alert">
                    {{ request.session.query_alert }}
                </div>
            {% endif %}
            {% if request.session.query_error %}
            <div class="alert alert-danger" role="alert">
              {{ request.session.query_error }}
            </div>
            {% endif %}

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead id="Query_result_header">
                        <!-- Query result table header will be populated here using JavaScript -->
                    </thead>
                    <tbody id="Query_result_body">
                        <!-- Query result table body will be populated here using JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<style>
    /* Custom CSS for making table responsive */
    table {
        width: 100%;
        max-width: 100%;

    }
    table thead th {
        white-space: nowrap;
    }
    .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999; /* Ensure the loader is above other elements */
    }

    .loader {
      border: 4px solid #f3f3f3; /* Light grey */
      border-top: 4px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

<!-- JavaScript to populate Sample Data Table and Query Result Table -->
<script>



  // function SampleData2() {
  //   var table = document.getElementById("table_body");
  // var request = new XMLHttpRequest();
  // request.open("GET", "/getdata");
  //   request.send();
  //   request.onload = () => {
  //     if (request.status == 200){
  //       data = JSON.parse(request.response);
  //       console.log(data);
  //       console.log("Data refreshed successfully.")
  //       var html = "";
  //       for (let i = 0; i < data.length; i++) {
          
  //         html += "<tr>";
  //         html += "<td>"+data[i].id+"</td>";
  //         html += "<td>"+data[i].longitude+"</td>";
  //         html += "<td>"+data[i].latitude+"</td>";
  //         html += "<td>"+data[i].housing_median+"</td>";
  //         html += "<td>"+data[i].total_rooms+"</td>";
  //         html += "<td>"+data[i].total_bedrooms+"</td>";
  //         html += "<td>"+data[i].population+"</td>";
  //         html += "<td>"+data[i].households+"</td>";
  //         html += "<td>"+data[i].median_income+"</td>";
  //         html += "<td>"+data[i].ocean_proximity+"</td>";
  //         html += "<td>"+data[i].median_house_value+"</td>";
  //         html += "</tr>";

  //         }
  //         table.innerHTML = html;
  //     }
  //   }
  // }

  function Load_Data() {
      // Create a new XMLHttpRequest object
      var request = new XMLHttpRequest();

      // Start loader
      showLoader();

      // Configure the GET request
      request.open('GET', '/save_db_data', true);

      // Set up a callback function for a successful request
      request.onload = function() {
        hideLoader();
        var homePageUrl = "/"; // The URL of your home page (e.g., / or /home/)
        var response = JSON.parse(request.responseText);
        // console.log(response["msg"]);
        window.location.href = homePageUrl;

        // Redirect to the home page URL
        if (request.status == 200 ) {
          // Request was successful
          // Process the response data here (e.g., display or manipulate data)
          // alert('Request successful! ' + response["msg"]);
          console.log('Request successful! ' + response["msg"]);
        } 
        else if (request.status == 409 ){
          // trigger on when status 409 = Data already exist (Conflict).
          // alert(response["msg"]);
          console.log(response["msg"]);
        }
        else {
          // Process the response data here (e.g., display or manipulate data)
          // Request was unsuccessful (e.g., 404, 500, etc.)
          alert('Error: Request failed with status ' + request.status);
        }
      };

      // Set up a callback function for handling errors
      request.onerror = function() {
        // Error occurred during the request
        alert('Error: There was a network error or the request could not be completed.');
      };

      // Send the GET request
      request.send();
    }

function showLoader() {
  // Create the loader container and loader element
  const loaderContainer = document.createElement('div');
  loaderContainer.classList.add('loader-container');

  const loader = document.createElement('div');
  loader.classList.add('loader');

  // Append the loader to the container
  loaderContainer.appendChild(loader);

  // Append the loader container to the body
  document.body.appendChild(loaderContainer);
}

function hideLoader() {
  // Remove the loader container from the body
  const loaderContainer = document.querySelector('.loader-container');
  if (loaderContainer) {
    loaderContainer.remove();
  }
}


  function SampleData() {
    var table = document.getElementById("sample_table_body");
    var table_header = document.getElementById("sample_table_header");
  var request = new XMLHttpRequest();
  request.open("GET", "/sample_data");
    request.send();
    request.onload = () => {
      if (request.status == 200){
        data = JSON.parse(request.response);
        var column_names = Object.keys(data[0]);
        console.log("Data refreshed successfully.")

        // For result table Header
        var html = "<tr>";
        for (let i = 0; i < column_names.length; i++) {
          html += "<th scope='col'>"+column_names[i]+"</th>";
        }
        html += "</tr>";
        table_header.innerHTML = html;

        // For Result Table body
        html = "";
        for (let i = 0; i < data.length; i++) {
          var val = Object.values(data[i]);
          html += "<tr>";
            for (let i = 0; i < val.length; i++) {
              html += "<td>"+val[i]+"</td>";
            }
          html += "</tr>";

          }
          table.innerHTML = html;
      }
    }
  }

  function QueryResult() {
    var table = document.getElementById("Query_result_body");
    var table_header = document.getElementById("Query_result_header");
  var request = new XMLHttpRequest();
  request.open("GET", "/query_result");
    request.send();
    request.onload = () => {
      if (request.status == 200){
        data = JSON.parse(request.response);
        var column_names = Object.keys(data[0]);
        console.log("Data refreshed successfully.")

        // For result table Header
        var html = "<tr>";
        for (let i = 0; i < column_names.length; i++) {
          html += "<th scope='col'>"+column_names[i]+"</th>";
        }
        html += "</tr>";
        table_header.innerHTML = html;

        // For Result Table body
        html = "";
        for (let i = 0; i < data.length; i++) {
          var val = Object.values(data[i]);
          html += "<tr>";
            for (let i = 0; i < val.length; i++) {
              html += "<td>"+val[i]+"</td>";
            }
          html += "</tr>";

          }
          table.innerHTML = html;
      }
    }
  }

  // Function to reload the page once
  function reloadOnce() {
    // Reload the page
    location.reload();

    // Remove the event listener to prevent further reloads
    window.removeEventListener('load', reloadOnce);
}

var count = true;
  SampleData()
  QueryResult()
  


</script>

{% endblock %}